<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="plantilla/plantilla :: head">
        <meta charset="UTF-8">
            <title>GestiónGastos</title>
    </head>
    <body class=" d-flex flex-wrap flex-column ">
        <header th:replace="plantilla/plantilla :: header"/>

        <section class="d-flex flex-wrap flex-column">

            <div class="d-flex flex-wrap mx-5 my-2 justify-content-between">
                <div class="row d-flex flex-wrap  mt-5 me-5 mb-4 ">
                    <div class="d-flex flex-column">
                        <h3 class="text-center">Agregar Ingreso</h3>
                        <form th:action="@{/guardarIngreso}" method="post"  class="d-flex flex-wrap flex-column needs-validation " >
                            <div class="m-2">
                                <select  name="capacity" class="form-select"  required>
                                    <option selected disabled>Elige un concepto</option>
                                    <option  value="Nómina">Nómina</option>
                                    <option  value="Rentas y alquileres">Rentas y alquileres</option>
                                    <option  value="Ingresos extraordinarios">Ingresos extraordinarios</option>
                                    <option  value="Apuestas y juegos">Apuestas y juegos</option>
                                </select>
                            </div>

                            <div class="input-group m-2">

                                <input  type="number" name="deposit" class="form-control"  required>
                                    <span class="input-group-text">€</span>
                            </div>

                            <div class="input-group date m-2"  data-provide="datepicker">

                                <input  name="date" type="date" class="form-control"  required>
                            </div>

                            <div class=" bd-highlight m-2 d-flex flex-column flex-fill">
                                <input tame="comment" type="text" class="form-control " placeholder="Comentario" >
                            </div>
                            <div class="d-flex justify-content-center align-items-center">
                                <input type="submit" class="btn btn-primary" name="guardar" value="Guardar ingreso"></input>
                            </div>
                        </form>
                    </div>
                    <div class="d-flex flex-column">
                        <h3 class="text-center">Agregar Gasto</h3>
                        <form  class="d-flex flex-wrap flex-column needs-validation " novalidate>
                        <div class="m-2">

                            <select class="form-select"  required>
                                <option selected disabled>Elige un concepto</option>
                                <option  value="Hipoteca/Alquiler">Hipoteca/Alquiler</option>
                                <option  value="Muebles/Menaje">Muebles/Menaje</option>
                                <option  value="Alimentación">Alimentación</option>
                                <option  value="Mascotas">Mascotas</option>
                                <option  value="Compras/Ropa/Estética">Compras/Ropa/Estética</option>
                                <option  value="Móvil/Internet/Fijo">Móvil/Internet/Fijo</option>
                                <option  value="Luz/Gas">Luz/Gas</option>
                                <option  value="Agua">Agua</option>
                                <option  value="Carburantes">Carburantes</option>
                                <option  value="Coche">Coche</option>
                                <option  value="Seguros">Seguros</option>
                                <option  value="Impuestos/Tasas/Multas">Impuestos/Tasas/Multas</option>
                                <option  value="Matrículas/Cuotass">Matrículas/Cuotas</option>
                                <option  value="Ocio">Ocio</option>
                                <option  value="Gastos extraordinarios">Gastos extraordinarios</option>
                                <option  value="Apuestas y juegos">Apuestas y juegos</option>
                            </select>
                        </div>

                        <div class="input-group m-2">

                            <input type="number" class="form-control" required>
                                <span class="input-group-text">€</span>
                        </div>

                        <div class="input-group date m-2" data-provide="datepicker">

                            <input type="date" class="form-control" required>
                        </div>

                        <div class=" bd-highlight m-2 d-flex flex-column flex-fill">
                            <input type="text" class="form-control " id="comentario" placeholder="Comentario">
                        </div>
                           <div class="d-flex justify-content-center align-items-center">
                                <input type="submit" class="btn btn-primary" name="guardar" value="Guardar gasto"></input>
                            </div>

                    </form>
                    </div>

                </div>
                <div class=" flex-grow-1 bg-primary">Aquí va el total de gastos, ingresos y diferencia
                </div>

            </div>
        </section>



    </body>

</html>
