<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="plantilla/plantilla :: head">
        <meta charset="UTF-8">
        <title>GestiónGastos</title>
    </head>
    <body>
        <header th:replace="plantilla/plantilla :: header"/>
        <div th:if="${deposits != null and !deposits.empty}">
            <table border="1">
                <tr>
                    <th>Concepto</th>
                    <th>Ingreso</th>
                    <th>Fecha</th>
                    <th>Comentario</th>

                </tr>
                <tr th:each="deposit : ${deposits}">
                    <td th:text="${deposit.capacity}">Mostrar Concepto</td>
                    <td th:text="${deposit.deposit}">Mostrar Ingreso</td>
                    <td th:text="${deposit.date}">Mostrar fecha</td>
                    <td th:text="${deposit.comment}">Mostrar comentario</td>
                    <td sec:authorize="hasRole('ROLE_USER')"><a th:href="@{/eliminar(id_deposit=${deposit.id_deposit})}"/>Eliminar</td> 
                </tr>
            </table>
        </div>
        <div th:if="${deposits == null or deposits.empty}">
            La lista de ingresos está vacía
        </div>

        <form method="POST" action="@{/logout}"> <!-- NECESARIO QUE SE LLAME 'logout' PARA QUE SPRING
                                                 RECONOZCA QUE QUEREMOS SALIR DE LA APLICACIÓN -->
            <a href="login" onclick="this.parentNode.submit();">Logout</a>
        </form>
        <footer th:replace="plantilla/plantilla::footer"></footer>


    </body>
</html>
